body{
    font-size: 1em;
    background-color: #bab3a1;
    font-family: 'Capitolium 2', sans-serif ;
    margin: 0;
}

#elGrande{
    max-width: 1024px;
}

.logo{
    height: 11px;
}

.botonRedondeado{
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    height: 25px;
    width: 160px;
    border-radius: 15px ;
    background-color: #bab3a1;
    font-size: 0.4em;
    font-family: 'Termina Medium', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.botonRedondeadoSuperior{
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    height: 25px;
    width: 150px;
    border-radius: 15px ;
    background-color: #bab3a1;
    font-size: 0.6em;
    font-family: 'Termina Medium', sans-serif;
}


/* Esta zona es el header */
.contenedorSuperior{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

#superiorIzq{
    align-self: flex-start;
}

#superiorDer{
    align-self: flex-end;
}


/*Aqui empiezo las secciones y articulos*/

/*Esta parte son las compartidas*/
.contenedor{
    display: flex;
}

.parejas{
    margin-left: 8%;
}

.titulo{
    font-family: Tenez, sans-serif;    
}

.subtitulo{
    font-family: 'Termina Medium', sans-serif;   
}

/*Seccion marron*/
#sup{
    margin-top: 65px;
    margin-left: 5%;
    margin-bottom: -3px;
}

#esquerra{
    font-size: 1.2em;
    width: 36%;
}

#dreta{
    font-size: 0.8em;
    width: 29%;
}
/*Imagen de DAN*/
#elquemira{
    width: 80%;
}
/*Titulo con el nombre de DAN y subtitulo*/
#dan{
    font-size: 2em;
}

#dandeabajo{
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.3em;
}





/*Primera sección negro*/
#primernegro{
    background-color: black;
    color: white;
    width: 100%;
    padding-left: 5%;
    padding-top: 40px;
    padding-bottom: 40px;
}

#esquerraNegre{
    width: 34%;
}

#dretaNegre{
    width: 29%;
}

#clientsServeis{
    font-size: 1.5em;
}

#marcas{
    max-width: 100%;
    height: auto;
    display: block;
}

#listaServicios{
    list-style-type: none;
    padding-left: 0;
    font-family: 'Termina Medium', sans-serif;
    font-size: 0.4em;
    font-weight: bold;
    letter-spacing: 0.7em;
    line-height: 4.1;
    margin-top: -9px;
}




/*Seccion pastel*/

#pastel{
    background-color:#9da8a0;
}